[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
celery = "*"
django-celery-results = "*"
django-celery-beat = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.13"
